@import 'tailwindcss';

:root {
  font-family: 'Sora', sans-serif;
  line-height: 1.5;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
